<ol class="breadcrumb">
    <li>
        <i class="fa fa-home"></i> <a href="{{ path('mediashare_app_homepage') }}">Home</a>
    </li>
    <li>
        <i class="fa fa-cube"></i> <a href="{{ path('admin_product_new') }}">Participer</a>
    </li>
    {% if app.user.hasRole('ROLE_ADMIN') %}
    <li>
        <i class="fa fa-cubes"></i> <a href="{{ path('admin_category') }}">Concours</a>
    </li>
    {% endif %}
    <!-- <li>
        <i class="fa fa-info"></i> <a href="">Info</a>
    </li>
    <li>
        <i class="fa fa-comments"></i> <a href="">Contact</a>
    </li> -->
    <li>
        <i class="fa fa-user"></i> <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username }})</a>
    </li>
</ol>
