{% extends "MediashareAppBundle::profile.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="login-wrap2">
        <div class="intro">
            <h2 class="page-header">
            Update your Profile
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-user"></i> <a href="{{ path('admin_user') }}">Profile</a>
                </li>
                <li class="active">
                    <i class="fa fa-pencil-square"></i> Update
                </li>
            </ol>
            {{ form_start(edit_form, {'attr': {'class':'form-horizontal' }}) }}
            <fieldset>
                <div class="form-group">
                    {{ form_label(edit_form.username) }}
                    <div class="col-lg-9">
                        {{ form_errors(edit_form.username) }}
                        {{ form_widget(edit_form.username) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.serverName) }}
                    <div class="col-lg-9">
                        {{ form_errors(edit_form.serverName) }}
                        {{ form_widget(edit_form.serverName) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.email) }}
                    <div class="col-lg-9">
                        {{ form_errors(edit_form.email) }}
                        {{ form_widget(edit_form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.password.first) }}
                    <div class="col-lg-9">
                        {{ form_errors(edit_form.password.first) }}
                        {{ form_widget(edit_form.password.first) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.password.second) }}
                    <div class="col-lg-9">
                        {{ form_errors(edit_form.password.second) }}
                        {{ form_widget(edit_form.password.second) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        {{ form_rest(edit_form) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_rest(delete_form) }}
                    </div>
                </div>
            </fieldset>
            {{ form_end(edit_form) }}
            <a href="{{ path('admin_user') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à la
            liste</a>
        </div>
    </div>
{% endblock fos_user_content %}