{% extends "MediashareAppBundle::profile.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="login-wrap2">
        <div class="intro">
            
            <h2 class="page-header">
               <i class="fa fa-user"></i> Profile
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> <a href="{{ path('admin_user') }}">Users</a>
                </li>
                <li class="active">
                    <i class="fa fa-eye"></i> Show
                </li>
            </ol>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ entity.username }}</h3>
                </div>
                <div class="panel-body">
                    Level {{ entity.ranked }} | {{ entity.points }} Points
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Server</h3>
                </div>
                <div class="panel-body">
                    {{ entity.serverName }}
                </div>
            </div>
            {% if app.user.hasRole("ROLE_ADMIN") or app.user.id == entity.id %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">TicketPass</h3>
                    </div>
                    <div class="panel-body">
                        {{ entity.ticketpass }}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Online ?</h3>
                </div>
                <div class="panel-body">
                    {% if entity.connected == true %}{{ 'Oui' }}{% else %}{{ 'Non' }}{% endif %}
                </div>
            </div>
            
            <a href="{{ path('admin_user') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to the list </a>
            {% if app.user.hasRole("ROLE_ADMIN") or app.user.id == entity.id %}
                <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i
                    class="fa fa-pencil"></i>
                Update</a>
                {{ form(delete_form) }}
            {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}