{% extends "MediashareAppBundle::profile.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
	<div class="login-wrap2">
		<div class="intro">
			<h2 class="page-header">
			<i class="fa fa-user"></i> Profile
			</h2>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-user"></i> <a>Profile</a>
				</li>
				<li class="active">
					<i class="fa fa-eye"></i> Show
				</li>
			</ol>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{ username }}</h3>
				</div>
				<div class="panel-body">
					Level {{ leveling }} | {{ points|number_format(0,',', ' ') }} Points | Classement #{{ classement}}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Server</h3>
				</div>
				<div class="panel-body">
					{{ serverName }}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Email</h3>
				</div>
				<div class="panel-body">
					{{ email }}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Your TicketPass</h3>
				</div>
				<div class="panel-body">
					{{ passPhrase2 }}
				</div>
			</div>
			<a href="{{ path('mediashare_app_homepage') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à la
			Mine</a>
			<a href="{{ path('admin_user_edit', { 'id': idUser }) }}" class="btn btn-primary"><i
				class="fa fa-pencil"></i>
			Modifier</a>
		</div>
	</div>
{% endblock fos_user_content %}