<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}ESPACE D'ADMINISTRATION{% endblock %}</title>
    <script type="text/javascript" src="{{ asset('jquery-ui-1.11.4.custom/external/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-common-libraries.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-functions.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-thumbsgeneral.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-thumbsstrip.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-touchthumbs.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-panelsbase.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-strippanel.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-gridpanel.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-thumbsgrid.js') }}"></script>
    <script type='text/javascript' src="{{ asset('unitegallery-master/source/unitegallery/js/ug-tiles.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-tiledesign.js') }}"></script>
    <script type='text/javascript' src="{{ asset('unitegallery-master/source/unitegallery/js/ug-avia.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-slider.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-sliderassets.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-touchslider.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-zoomslider.js') }}"></script>
    <script type='text/javascript' src="{{ asset('unitegallery-master/source/unitegallery/js/ug-video.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-gallery.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-lightbox.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/js/ug-carousel.js') }}"></script>
    <script type='text/javascript' src="{{ asset('unitegallery-master/source/unitegallery/js/ug-api.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset('unitegallery-master/source/unitegallery/themes/grid/ug-theme-grid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.rowsorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('okfocus-okzoom/src/okzoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('font-awesome-4.3.0/css/font-awesome.min.css') }}" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="{{ asset('jquery-ui-1.11.4.custom/jquery-ui.min.css') }}" type="text/css" media="all"/>
    <link rel='stylesheet' href="{{ asset('unitegallery-master/source/unitegallery/css/unite-gallery.css') }}"
          type='text/css' media="all"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/pw-admin.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" media="all"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
<!--

        <script src="{{ asset('js/login.js') }}"></script>
        <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" media="all"/> -->
        <link rel="stylesheet" href="{{ asset('css/background.css') }}" media="all"/>


</head>
<body>
{% block body %}

    <div class="container">

        {% block header %}
             {% include 'MediashareAppBundle::_header.html.twig' %}
         {% endblock %}
        <div class="center-div">
            <div class="row">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-info flash-{{ type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
