<li {% if app.request.attributes.get('_route') starts with 'admin_contact' %}class="active"{% endif %}>
    <a href="{{ path('admin_contact') }}"><i class="fa fa-envelope"></i> {{ "Contact" }}</a>
</li>

<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_newsletter_mail' or app.request.attributes.get('_route') starts with 'admin_newsletter_group' %}active{% endif %}">
    <a href="javascript:;" data-toggle="collapse" data-target="#newsletter"><i class="fa fa-bars"></i> {{ "Newsletter" }} <b class="caret"></b></a>
    <ul class="collapse" id="newsletter">
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter_mail' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter_mail') }}"><i class="fa fa-at"></i> {{ "Gestion des abonnés" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter_group' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter_group') }}"><i class="fa fa-database"></i> {{ "Gestion des groupes" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter') }}"><i class="fa fa-paper-plane"></i> {{ "Gestion des newsletters" }}</a></li>
    </ul>
</li> 

<li {% if app.request.attributes.get('_route') starts with 'admin_user' %}class="active"{% endif %}>
    <a href="{{ path('admin_user') }}"><i class="fa fa-users"></i> {{ "Utilisateurs" }}</a>
</li>

