{% extends "MediashareAppBundle::profile.html.twig" %}
{% block fos_user_content %}
    
    <div class="login-wrap2">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
        <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_style.min.css' rel='stylesheet' type='text/css' />
        <!-- Include JS file. -->
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/js/froala_editor.min.js'></script>
          <script>
          $(function() {
            $('textarea.froala-editor').froalaEditor()
          });
        </script>

        <h2 class="page-header"><i class="fa fa-server"></i> Update Server {{ entity.name }} </h2>
        {{ form_start(edit_form, {'attr': {'class':'form-horizontal' }}) }}
        <fieldset>
            <div class="form-group">
                {{ form_label(edit_form.link) }}
                <div class="col-lg-9">
                    {{ form_errors(edit_form.link) }}
                    {{ form_widget(edit_form.link) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.description) }}
                <div class="col-lg-9">
                    {{ form_errors(edit_form.description) }}
                    {{ form_widget(edit_form.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.publicKey) }}
                <div class="col-lg-9">
                    {{ form_errors(edit_form.publicKey) }}
                    {{ form_widget(edit_form.publicKey) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.privateKey) }}
                <div class="col-lg-9">
                    {{ form_errors(edit_form.privateKey) }}
                    {{ form_widget(edit_form.privateKey) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    {{ form_rest(edit_form) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Your CoinHive Key</h3>
                    <p>Go to the site of <a target="_blank" href="http://coin-hive.com"><strong>Coin-Hive</strong></a> for creating account. Generate your Public & Private Api Key <a target="_blank" href="https://coinhive.com/settings/sites"><strong>Here</strong></a>.</p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="login-wrap2">
        <div class="intro">
            {% block info %}
                {% include 'MediashareAppBundle::_infoServer.html.twig' %}
            {% endblock %}
        </div>
    {% endblock fos_user_content %}